body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #00cec9, #0984e3);
  min-height: 100vh;
}

div{
width: 600px;
position: absolute;
top: 50%;
left: 50%;
background-color: white;
transform: translate(-50%, -50%);
padding: 20px;
border-radius: 10px;
box-shadow: 1px 1px 20px #a29bfe;
}

h2{
  font-size: 30px;
  font-weight: 600;
}

.text {
  text-align: left;
  margin-left: 150px;
}

#b, #h {
  color: #6c5ce7;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #a29bfe;
  width: 200px;
}

#b:focus, #h:focus {
  border-bottom: 2px solid #a29bfe;
  width: 300px;
  transition: 0.5s;
}
#result {
  color: #a29bfe;
}

#btn {
  font-family: inherit;
  margin-top: 10px;
  border: none;
  color: white;
  background-image: linear-gradient(120deg, #00cec9, #0984e3);
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

#btn:hover {
  box-shadow: 1px 1px 10px #a29bfe;

}

#info {
  font-size: 12px;
  font-family: inherit;
  
}